* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c8cfd4;

}


form {
    background-color: #7c9396;
    padding: 20px;
    margin-bottom: 20px;
}

form h1 {
    margin-top: 0;


}

form label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="checkbox"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

form input[type="checkbox"] {
    display: inline-block;

}

form button[type="submit"] {
    background-color: #343434;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #363936;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #272827;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #7a8791;
}